
<div class='container-fluid'>
  <ngx-spinner
    bdColor='rgba(51,51,51,0.8)'
    color='#fff'
    size='medium'
    type='ball-spin-fade'
  >
    <p style='font-size: 20px; color: white'>Processing ...</p>
  </ngx-spinner>

          <div class='row'>

            <div class='col-xl-4'>
              <app-panel title='Allocate Plan to MemoGroups' noButton='true'>
              <div class='card card-primary'>
                <div class='card-body'>
                  <form
                    #planmemoForm='ngForm'
                    (ngSubmit)='addNew(planmemoForm.value)'
                    *ngIf='new'
                    class='form-horizontal'
                  >
                    <fieldset>
                      <div class='form-group row mb'>
                        <div class='col-md-12'>
                          <label class='col-md-3 col-form-label'><b>Plan name</b></label>
                          <ng-select
                            #planid='ngModel'
                            [(ngModel)]='model.planid'
                            [ngClass]="{ 'is-invalid': planid.invalid }"
                            id='planid'
                            name='planid'
                            placeholder='No plan selected'
                            required
                          >
                            <ng-option
                              *ngFor='let a of accplans'
                              [value]='a.planid'
                            >{{ a.plantitle }}</ng-option
                            >
                          </ng-select>

                          <label class='col-md-12 col-form-label'><b>Select Memo group(s) to add</b></label>
                                                    <ng-select   #memogroup="ngModel"  [(ngModel)]="model.MEMO"
                                                                 [multiple]="true"
                                                                id="memogroups" name="memogroup"
                                                                placeholder="No memo selected">
                                                      <ng-option
                                                        *ngFor='let mg of items'
                                                        [value]='mg'
                                                      >{{mg}}</ng-option
                                                      >
                                                    </ng-select>
                        </div>
                      </div>
                    </fieldset>

                    <!--<pre>{{model | json}}</pre>-->

                    <p class='lead mt-3'></p>
                    <div>
                      <div class='clearfix'>
                        <div class='float-left'>
                          <button
                            [disabled]='
                              !planmemoForm.valid || !planmemoForm.dirty
                            '
                            class='btn btn-sm btn-primary m-r-5'
                            type='submit'
                          >Add New
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
<!--                  *ngIf='!new'-->

                </div>
              </div>
              </app-panel>
            </div>



            <div class='col-xl-8'>
              <app-panel title='List of MemoGroups allocated Plans'>
                  <div class='col-xl-4 col-lg-6'>
                    <label>
                      <input
                        [(ngModel)]='term'
                        class='form-control'
                        placeholder='Search Here....'
                        type='text'
                      />
                    </label>
                  </div>

                <perfect-scrollbar style='height: 500px'>
                <table class='table table-hover table-bordered table-striped'>
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>Plan id</th>
                    <th>MemoGroup</th>
                    <th>Plan Title</th>
                    <th>Updated By</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor='let p of rowData1  | filter: term'>
                    <td>{{ p.id }}</td>
                    <td>{{ p.planid }}</td>
                    <td>{{ p.memogroup }}</td>
                    <td>{{ p.plantitle }}</td>
                    <td>{{ p.updateby }}</td>
                    <td class="with-btn" nowrap>
                      <a (click)='deleteplanmemos(p)' class="btn btn-sm btn-danger width-60">Delete</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </perfect-scrollbar>


          </app-panel>
            </div>
            </div>

          </div>

