<ngx-spinner
  bdColor='rgba(51,51,51,0.8)'
  color='#fff'
  size='medium'
  type='ball-spin-fade'
>
  <p style='font-size: 20px; color: white'>Sending demand notice ...</p>
</ngx-spinner>
<app-panel>
  <div>
    <toaster-container [toasterconfig]='config'></toaster-container>
    <h2>Demand letter</h2>
    <form #sendLetterForm='ngForm' autocomplete='off' class='form-horizontal'>
      <ul #nav='ngbNav' class='nav-pills' ngbNav>
        <li ngbNavItem='Demand'>
          <a ngbNavLink>Demand</a>
          <ng-template ngbNavContent>
            <div class='card-body'>
              <div class='card card-default'>
                <div class='card-body'>
                  <form autocomplete='off' class='form-horizontal'>
                    <div class='form-group row m-b-15'>

                      <label *ngIf='!loader' class='col-form-label col-md-1' for='sdemand'
                      >Demand</label
                      >

                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <select

                          #demand='ngModel'
                          [(ngModel)]='model.demand'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': demand.invalid }"
                          class='form-control is-valid'

                          id='sdemand'
                          name='demand'
                          required
                        >
                          <option *ngFor='let demand of itemsDemands'>
                            {{ demand }}
                          </option>
                        </select>
                        <div *ngIf='demand.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='accnumber'
                      >Accnumber</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #accnumber='ngModel'
                          [(ngModel)]='model.accnumber'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': accnumber.invalid }"
                          class='form-control is-valid'
                          id='accnumber'
                          name='accnumber'
                          required
                          type='text'
                        />
                        <div *ngIf='accnumber.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='custnumber'
                      >Custnumber</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #custnumber='ngModel'
                          [(ngModel)]='model.custnumber'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': custnumber.invalid }"
                          class='form-control is-valid'
                          id='custnumber'
                          name='custnumber'
                          required
                          type='text'
                        />
                        <div *ngIf='custnumber.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='addressline1'
                      >Address</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #addressline1='ngModel'
                          [(ngModel)]='model.addressline1'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': addressline1.invalid }"
                          class='form-control is-valid'
                          id='addressline1'
                          list='daddress'
                          name='addressline1'
                          required
                          type='text'
                        />
                        <datalist id='daddress'>
                          <option *ngFor='let a of addresses'>
                            {{ a.address }}
                          </option>
                        </datalist>
                        <div *ngIf='addressline1.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='postcode'
                      >Postcode</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #postcode='ngModel'
                          [(ngModel)]='model.postcode'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': postcode.invalid }"
                          class='form-control is-valid'
                          id='postcode'
                          list='dpostcode'
                          name='postcode'
                          required
                          type='text'
                        />
                        <datalist id='dpostcode'>
                          <option *ngFor='let p of postcodes'>
                            {{ p.postcode }}
                          </option>
                        </datalist>
                        <div *ngIf='postcode.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='emailaddress'
                      >Email address</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #emailaddress='ngModel'
                          [(ngModel)]='model.emailaddress'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': emailaddress.invalid }"
                          class='form-control is-valid'
                          email
                          id='emailaddress'
                          list='browsers'
                          name='emailaddress'
                          required
                          type='email'
                        />
                        <datalist id='browsers'>
                          <option *ngFor='let e of emails'>
                            {{ e.email }}
                          </option>
                        </datalist>
                        <div *ngIf='emailaddress.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='celnumber'
                      >Cellnumber</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <input
                          #celnumber='ngModel'
                          [(ngModel)]='model.celnumber'
                          [hidden]='loader'
                          [ngClass]="{ 'is-invalid': celnumber.invalid }"
                          class='form-control is-valid'
                          id='celnumber'
                          list='cellnumber'
                          name='celnumber'
                          required
                          type='text'
                        />
                        <datalist id='cellnumber'>
                          <option *ngFor='let t of teles'>
                            {{ t.telephone }}
                          </option>
                        </datalist>
                        <div *ngIf='celnumber.valid' class='valid-feedback'>
                          Looks good!
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-15'>
                      <label *ngIf='!loader' class='col-form-label col-md-1' for='celnumber'
                      >Save to contacts</label
                      >
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                          [theme]="{
 'border-radius': '5px',
 height: '50px'
}"
                        ></ngx-skeleton-loader>
                        <button
                          (click)='savecontacts(model)'
                          *ngIf='!loader'
                          [disabled]='emailaddress.invalid || celnumber.invalid'
                          [ngClass]="{ 'is-invalid': celnumber.invalid }"
                          class='btn btn-primary btn-xs is-valid'
                          type='button'
                        >
                          <span class='btn-label' id='savecontacts'
                          ><i class='fas fa-exclamation-triangle'></i> </span
                          >Save this contact
                        </button>
                        <div
                          *ngIf='celnumber.valid || emailaddress.valid'
                          class='valid-feedback'
                        >
                          Only save if its not already linked to this account
                        </div>
                      </div>
                    </div>

                    <div class="form-group row m-b-15">
                      <label *ngIf='!loader' class='col-form-label col-md-1'>Preview</label>
                      <div class='col-md-9'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                          [theme]="{
 'border-radius': '5px',
 height: '50px'
}"
                        ></ngx-skeleton-loader>
                        <div *ngIf='!loader' class='checkbox checkbox-css checkbox-inline'>
                          <input
                            [(ngModel)]='model.showlogo'
                            class='form-check-input'
                            id='inlineCheckbox1'
                            name='showlogo'
                            type='checkbox'
                            value='Y'
                          />
                          <label for='inlineCheckbox1'
                          >show logo and footer</label
                          >
                        </div>
                        <div></div>
                        <div
                          *ngIf='!loader'
                          class='radio radio-css radio-inline'
                          id='generateword'
                        >
                          <input
                            [(ngModel)]='model.format'
                            class='form-check-input'
                            id='inlineRadio1'
                            name='format'
                            type='radio'
                            value='msword'
                          />
                          <label class='form-check-label' for='inlineRadio1'
                          >Word (Recomended)</label
                          >
                        </div>
                        <div
                          *ngIf='!loader'
                          class='radio radio-css radio-inline'
                          id='generatepdf'
                        >
                          <input
                            [(ngModel)]='model.format'
                            class='form-check-input'
                            id='inlineRadio2'
                            name='format'
                            type='radio'
                            value='pdf'
                          />
                          <label class='form-check-label' for='inlineRadio2'
                          >pdf</label
                          >
                        </div>
                        <!--                      <div *ngIf="celnumber.valid || emailaddress.valid" class="valid-feedback"></div>-->
                      </div>
                    </div>

                    <div class='form-group row m-b-10'>
                      <label *ngIf='!loader' class='col-md-2 col-form-label'
                      >Preview and send physically</label
                      >
                      <div class='col-md-9 p-t-3'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                        ></ngx-skeleton-loader>
                        <div *ngIf='!loader' class='switcher'>
                          <input
                            #previewtosend='ngModel'
                            [(ngModel)]='model.previewtosend'
                            id='previewtosend'
                            name='previewtosend'
                            type='checkbox'
                          />
                          <label for='previewtosend'></label>
                        </div>
                      </div>
                    </div>

                    <div class='form-group row m-b-10'>
                      <ngx-skeleton-loader
                        *ngIf='loader'
                      ></ngx-skeleton-loader>
                      <label
                        class='col-md-2 col-form-label'
                        for='previewletter'
                      ></label>
                      <div class='col-md-9 p-t-3'>
                        <ngx-skeleton-loader
                          *ngIf='loader'
                          [theme]="{
 'border-radius': '5px',
 height: '50px',
 width: '25%'
}"
                        ></ngx-skeleton-loader>
                        <button
                          (click)='openletter_choose(model)'
                          *ngIf='!loader'
                          [disabled]='demand.invalid'
                          class='btn btn-primary'
                          id='previewletter'
                          type='button'
                        >
                          Preview letter
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="form-group row m-b-10">
              <label class="col-md-3 col-form-label"></label>
              <div class='col-md-9'>
                <ngx-skeleton-loader
                  *ngIf='loader'
                  [theme]="{
 'border-radius': '5px',
 height: '50px',
 width:'25%'
}"
                ></ngx-skeleton-loader>
                <div class='checkbox checkbox-css checkbox-inline'>
                  <input
                    #sendemail='ngModel'
                    *ngIf='!loader'
                    [(ngModel)]='model.sendemail'
                    [disabled]='!emailaddress.valid || demand.invalid'
                    id='sendemailinput'
                    name='sendemail'
                    type='checkbox'
                  />
                  <label *ngIf='!loader' for='sendemailinput'>Send to email</label>
                </div>

                <div class='checkbox checkbox-css checkbox-inline'>
                  <input
                    #sendpostal='ngModel'
                    *ngIf='!loader'
                    [(ngModel)]='model.sendpostal'
                    [disabled]='!addressline1.valid || demand.invalid'
                    id='sendpostal'
                    name='sendpostal'
                    type='checkbox'
                  />
                  <label *ngIf='!loader' for='sendpostal'>Send to post address</label>
                </div>

                <div class='checkbox checkbox-css checkbox-inline'>
                  <input
                    #sendbysms='ngModel'
                    *ngIf='!loader'
                    [(ngModel)]='model.sendbysms'
                    [disabled]='!celnumber.valid || demand.invalid'
                    id='sendbysms'
                    name='sendbysms'
                    type='checkbox'
                  />
                  <label *ngIf='!loader' for='sendbysms'>SMS delivery</label>
                </div>
              </div>
            </div>

            <div class="form-group row m-b-10">
              <label class="col-xl-4 col-form-label"></label>
              <div class='col-xl-4'>
                <ngx-skeleton-loader
                  *ngIf='loader'
                ></ngx-skeleton-loader>
                <button
                  (click)='generate_choose()'
                  *ngIf='!loader'
                  [disabled]='!model.sendemail && !model.sendbysms'
                  class='btn btn-primary btn-block'
                  id='generateandsend'
                  type='button'
                >
                  Generate & Send
                </button>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem='Select Demand'>
          <a ngbNavLink>Select Demand</a>
          <ng-template ngbNavContent>
            <div class='card-body'>
              <div class='form-group row'>
                <label class='col-xl-4 col-form-label'>Select Demand</label>
                <div class='col-xl-8'>
                  <label for='demand'></label
                  ><select
                  #demand='ngModel'
                  [(ngModel)]='model.demand'
                  [ngClass]="{ 'is-invalid': demand.invalid }"
                  class='form-control'
                  id='demand'
                  name='demand'
                  required
                >
                  <option *ngFor='let demand of itemsDemands'>
                    {{ demand }}
                  </option>
                </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="card">
                    <div class='card-body'>
                      <h4 class='page-header mt0'>Select files</h4>
                      <div
                        (fileOver)='fileOverBase($event)'
                        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
                        [uploader]='uploader'
                        class='box-placeholder my-drop-zone'
                        ng2FileDrop
                      >
                        Drop files here
                      </div>
                      <p class='text-bold'>Upload options</p>
                      <label class='file-upload' for='file1'>
                        <button class='btn btn-secondary btn-block'>
                          Select Multiple
                        </button>
                        <input
                          [uploader]='uploader'
                          id='file1'
                          multiple
                          ng2FileSelect
                          type='file'
                        />
                      </label>
                      <label class='file-upload' for='file2'>
                        <button class='btn btn-secondary btn-block'>
                          Select Single
                        </button>
                        <input
                          [uploader]='uploader'
                          id='file2'
                          ng2FileSelect
                          type='file'
                        />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9" style="margin-bottom: 40px">
                  <div class="card">
                    <div class='card-body'>
                      <p
                        *ngIf='uploader?.queue?.length'
                        class='float-right badge badge-info'
                      >
                        Queue length: {{ uploader?.queue?.length }}
                      </p>
                      <h4 class='page-header mt0'>Upload queue</h4>
                      <table class='table'>
                        <thead>
                        <tr>
                          <th width='50%'>Name</th>
                          <th>Size</th>
                          <th>Progress</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor='let item of uploader.queue'>
                          <td>
                            <strong>{{ item?.file?.name }}</strong>
                          </td>
                          <td nowrap>
                            {{
                            item?.file?.size / 1024 / 1024 | number: '.2'
                            }}
                            MB
                          </td>
                          <td>
                            <div class='progress' style='margin-bottom: 0'>
                              <div
                                [ngStyle]="{ width: item.progress + '%' }"
                                class='progress-bar'
                                role='progressbar'
                              ></div>
                            </div>
                          </td>
                          <td class='text-center'>
                              <span *ngIf='item.isSuccess'
                              ><i class='fa fa-ok'></i
                              ></span>
                            <span *ngIf='item.isCancel'
                            ><i class='icon-close mr'></i
                            ></span>
                            <span *ngIf='item.isError'
                            ><i class='fas fa-times'></i
                            ></span>
                          </td>
                          <td nowrap>
                            <button
                              (click)='item.upload()'
                              [disabled]='
                                  item.isReady ||
                                  item.isUploading ||
                                  item.isSuccess
                                '
                              class='btn btn-info btn-xs'
                              type='button'
                            >
                              <span class='fa icon-cloud-upload mr'></span>
                              Upload
                            </button>
                            <button
                              (click)='item.cancel()'
                              [disabled]='!item.isUploading'
                              class='btn btn-warning btn-xs'
                              type='button'
                            >
                              <span class='icon-close mr'></span> Cancel
                            </button>
                            <button
                              (click)='item.remove()'
                              class='btn btn-danger btn-xs'
                              type='button'
                            >
                              <span class='icon-trash mr'></span> Remove
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <div>
                          Queue progress:
                          <div class='progress'>
                            <div
                              [ngStyle]="{ width: uploader.progress + '%' }"
                              class='progress-bar'
                              role='progressbar'
                            ></div>
                          </div>
                        </div>
                        <button
                          (click)='uploader.uploadAll()'
                          [disabled]='!uploader.getNotUploadedItems().length'
                          class='btn btn-info btn-s'
                          type='button'
                        >
                          <span class='fa icon-cloud-upload mr'></span> Upload
                          all
                        </button>
                        <button
                          (click)='uploader.cancelAll()'
                          [disabled]='!uploader.isUploading'
                          class='btn btn-warning btn-s'
                          type='button'
                        >
                          <span class='icon-close mr'></span> Cancel all
                        </button>
                        <button
                          (click)='uploader.clearQueue()'
                          [disabled]='!uploader.queue.length'
                          class='btn btn-danger btn-s'
                          type='button'
                        >
                          <span class='icon-trash mr'></span> Remove all
                        </button>
                      </div>
                      <div class='form-check form-check-inline'>
                        <input
                          [(ngModel)]='model.uploadedfile'
                          class='form-check-input'
                          id='uploadedfile'
                          name='uploadedfile'
                          type='checkbox'
                          value='Y'
                        />
                        <label class='form-check-label' for='uploadedfile'
                        >Use this file in demand letter email</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem='History Demand Letters'>
          <a ngbNavLink>History Demand Letters</a>
          <ng-template
          >History Demand Letters
            <span class='badge badge-primary'>{{ demands?.length }}</span>
          </ng-template>
          <ng-template ngbNavContent>
            <div class='panel-body'>
              <div class='table-responsive'>
                <table class='table table-striped table-bordered table-hover'>
                  <thead>
                  <tr>
                    <th>Custnumber</th>
                    <th>Customer email</th>
                    <th>Datesent</th>
                    <th>Filename</th>
                    <th>Owner</th>
                    <th>Password</th>
                    <th class='text-center'>Download</th>
                    <th>Resend to email</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor='let d of demands'>
                    <td>
                      {{d.custnumber}}
                    </td>
                    <td>
                      {{d.customeremail}}
                    </td>
                    <td>
                      {{d.datesent | date: 'medium' }}
                    </td>
                    <td>
                      {{d.filename}}
                    </td>
                    <td>
                      {{d.owner}}
                    </td>
                    <td>
                      {{natid}}
                    </td>
                    <td>
                      <button
                        (click)='downloadDemand(d.filepath, d.filename)'
                        class='btn btn-outline-success btn-sm'
                      >
                        <i class='fa fa-download'></i>
                      </button>
                    </td>
                    <td>
                      <button
                        (click)='resend(d.filepath)'
                        class='btn btn-outline-success btn-sm'
                      >
                        <i class='fa fa-paper-plane'></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem='Guarantors'>
          <a ngbNavLink>Guarantors</a>
          <ng-template ngbPanelTitle
          >Guarantors
            <span class='badge badge-primary'>{{ guarantors?.length }}</span>
          </ng-template>
          <ng-template ngbNavContent>
            <div class='card-body'>
              <!-- START table-responsive-->
              <div class='table-responsive'>
                <table class='table table-striped table-bordered table-hover'>
                  <thead>
                  <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Gurarantor Name</th>
                    <th scope='col'>Address</th>
                    <th scope='col'>Postal Code</th>
                    <th scope='col'>Tenumber</th>
                    <th scope='col'>Email</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor='let g of guarantors'>
                    <th scope='row'>{{ g.idnumber }}</th>
                    <td>{{ g.guarantorname }}</td>
                    <td>{{ g.address }}</td>
                    <td>{{ g.postalcode }}</td>
                    <td>{{ g.telnumber }}</td>
                    <td>{{ g.email }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- END table-responsive-->
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]='nav' class='ml-4'></div>
    </form>
  </div>
</app-panel>
